In [19]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('test').master('local[*]').config('spark.sql.shuffle.partitions',4).getOrCreate()

sc=spark.sparkContext

from pyspark.sql.types import StructType,StringType,IntegerType
import pandas as pd

# 用RDD构建 DF 1

In [20]:
rdd=sc.textFile('txt/spark1.txt')
rdd1=rdd.map(lambda x:x.split(', ')).map(lambda x:[x[0],int(x[1])])

In [21]:
rdd1.collect()

[['qiang', 43], ['ma', 436], ['guge', 346]]

In [22]:
df=spark.createDataFrame(rdd1,schema=['name','vaule'])

In [23]:
#打印表结构
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- vaule: long (nullable = true)

In [24]:
df.show(20,False) #最大显示20 rows

+-----+-----+
|name |vaule|
+-----+-----+
|qiang|43   |
|ma   |436  |
|guge |346  |
+-----+-----+

#### 建立临时表 SQL查询

In [25]:
df.createOrReplaceTempView('temp')

In [26]:
#SQL查询
spark.sql('select name from temp where vaule >100').show()

+----+
|name|
+----+
|  ma|
|guge|
+----+

# 用RDD构建 DF 2

### StringTypes

In [27]:
#定义列名字,数据类型,是否为空
schema= StructType().add('name',StringType(),nullable=True).add('age',IntegerType(),nullable=False)
df=spark.createDataFrame(rdd1,schema)
df.show()

+-----+---+
| name|age|
+-----+---+
|qiang| 43|
|   ma|436|
| guge|346|
+-----+---+

# 用  ToDF

In [28]:
# 无定义
df= rdd1.toDF(['name','vaule'])
df.show()

+-----+-----+
| name|vaule|
+-----+-----+
|qiang|   43|
|   ma|  436|
| guge|  346|
+-----+-----+

In [29]:
# schema定义
chema= StructType().add('name',StringType(),nullable=True).add('age',IntegerType(),nullable=False)
df=rdd1.toDF(schema=schema)
df.show()

+-----+---+
| name|age|
+-----+---+
|qiang| 43|
|   ma|436|
| guge|346|
+-----+---+